<div class="headind_srch" chatroom-id= '<%=@chatroom.id%>'>
  <div class="recent_heading">
    <h4><%= @chatroom.name %></h4>
  </div>
</div>

<% unread_messages = false %>


<div id="chatroom-messages">
  <%= render 'chatrooms/chatroom_messages', unread_messages: false %>
</div>
