.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  height: 566px;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:43%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 57%;
}
.headind_srch{
  padding:10px 29px 10px 20px;
  overflow:hidden;
  border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
  display: inline-block;
}
.srch_bar input{ border:1px solid #cdcdcd; width:80%; padding:2px 0 4px 6px;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -3px; display: inline; padding:6px 11px !important;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:13px; color:#989898; margin:auto}
.chat_ib .chat_date{color: #989898;}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{
  overflow:hidden;
  clear:both;
}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  height: auto;
  overflow-y: scroll;
}

.active_chat{
  background:#ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 6px 5px 12px;
  width: 79%;
  display: inline-block;
}
.time_date {
  color: #747474;
  font-size: 11px;
  margin: 9px 7px 0;
  float: right;
  display: inline-block;
}
.received_withd_msg { width: 57%; background: #ebebeb none repeat scroll 0 0;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width: 78%;
  word-wrap: break-word;
  display: inline-block;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
  background: #05728f none repeat scroll 0 0;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 418px;
  overflow-y: auto;
}
.participant_image{
  width: 8%;
  display: inline-block;
}
.participant_info{
  display: inline-block;
  padding-left: 12px;
}
.group_user{
  padding-bottom: 10px;
}
.group-info{
  background: #ebebeb none repeat scroll 0 0;
}
.group-info h5{
  padding-bottom: 10px;
  color: #05728f;
}
.user_chat_header{
  display: inline-block;
  width: 16%;
}
.recent_heading .back_arrow{
 color: #05728f;
 font-size: 17px;
 display: none;
}
.profile_info{
  vertical-align: middle;
  text-align: center;
}
.profile_info a{
  opacity:0;
}
.profile_info:hover a{
  opacity: 1;
}
.chatroom_profile{
  border-radius: 50%;
}
.user_dp{
  border-radius: 50%;
}
.profile_details{
  vertical-align: middle;
  text-align: center;
  background: #ebebeb none repeat scroll 0 0;
}
